body {
    background-color: #FEFF01;
    color: #FF1D5C;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

button {
    height: auto;
    width: 15%;
    word-wrap: break-all;
    margin: 1% 0% 1% 0%;
    background-color: #FEFF01;
    border-radius: 20px;
    box-shadow: 10px 10px #00FFF7;
    color: #FF1D5C;
    cursor: pointer;
    border: 3px solid #FF1D5C;
}

a {
    font-weight: bold;
    color: #FF1D5C;
    text-decoration: none;
}

.center {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pic {
    margin: 20vmin 0 0 0;
    height: 20vmin;
    pointer-events: none;
    border-radius: 50%;
    border: 3px solid #FF1D5C;
}

.media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2em 0 1em 0;
}

.social-media-logo {
    margin: 0 1vmin;
    height: 8vmin;
    pointer-events: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.25);
}

.powered {
    margin: 0 0 3vmin 0;
}

@media (max-width: 1000px) {
    body {
        font-size: 20px;
    }

    button {
        font-size: 1.5rem;
        height: 200px;
        width: 50%;
        word-wrap: break-all;
        margin: 2% 0% 2% 0%;
        border-radius: 20px;
    }
    
    .profile-pic {
        height: 30vmin;
        pointer-events: none;
        border-radius: 50%;
        border: 10px solid;
    }
    
    .media {
        margin: 2em 0 2em 0;
    }
    
    .social-media-logo {
        margin: 0 1vmin;
        height: 15vmin;
    }

    .powered {
        font-size: 1.5rem;
    }
}

@media (min-width:1000px) and (max-width:1600px) {
    body {
        font-size: 20px;
    }
    
    button {
        width: 40%;
    }
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.behind {
    z-index: -1;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #feff01;
    overflow: hidden;
}

.background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 31;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #00fff7;
    top: 77%;
    left: 69%;
    animation-duration: 152s;
    animation-delay: -102s;
    transform-origin: 9vw -1vh;
    box-shadow: -30vmin 0 4.228930075084343vmin currentColor;
}
.background span:nth-child(1) {
    color: #ff1d5c;
    top: 29%;
    left: 74%;
    animation-duration: 97s;
    animation-delay: -186s;
    transform-origin: 16vw 13vh;
    box-shadow: 30vmin 0 4.028224031128352vmin currentColor;
}
.background span:nth-child(2) {
    color: #00fff7;
    top: 45%;
    left: 23%;
    animation-duration: 39s;
    animation-delay: -117s;
    transform-origin: -1vw 21vh;
    box-shadow: 30vmin 0 4.158536192986396vmin currentColor;
}
.background span:nth-child(3) {
    color: #00fff7;
    top: 31%;
    left: 48%;
    animation-duration: 14s;
    animation-delay: -129s;
    transform-origin: 18vw 3vh;
    box-shadow: -30vmin 0 4.733872613239724vmin currentColor;
}
.background span:nth-child(4) {
    color: #00fff7;
    top: 49%;
    left: 95%;
    animation-duration: 168s;
    animation-delay: -90s;
    transform-origin: -6vw -17vh;
    box-shadow: 30vmin 0 4.417100407261395vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff1d5c;
    top: 56%;
    left: 11%;
    animation-duration: 108s;
    animation-delay: -46s;
    transform-origin: -18vw 6vh;
    box-shadow: -30vmin 0 4.363203543101895vmin currentColor;
}
.background span:nth-child(6) {
    color: #ff1d5c;
    top: 65%;
    left: 57%;
    animation-duration: 137s;
    animation-delay: -184s;
    transform-origin: 17vw 7vh;
    box-shadow: 30vmin 0 4.740538783319779vmin currentColor;
}
.background span:nth-child(7) {
    color: #00fff7;
    top: 74%;
    left: 21%;
    animation-duration: 52s;
    animation-delay: -62s;
    transform-origin: 23vw -21vh;
    box-shadow: 30vmin 0 4.393411549438299vmin currentColor;
}
.background span:nth-child(8) {
    color: #ff1d5c;
    top: 14%;
    left: 89%;
    animation-duration: 32s;
    animation-delay: -33s;
    transform-origin: -1vw 2vh;
    box-shadow: 30vmin 0 4.155670952150783vmin currentColor;
}
.background span:nth-child(9) {
    color: #00fff7;
    top: 41%;
    left: 47%;
    animation-duration: 181s;
    animation-delay: -169s;
    transform-origin: -7vw 12vh;
    box-shadow: -30vmin 0 3.991940477551797vmin currentColor;
}
.background span:nth-child(10) {
    color: #ff1d5c;
    top: 88%;
    left: 57%;
    animation-duration: 172s;
    animation-delay: -133s;
    transform-origin: 25vw -15vh;
    box-shadow: 30vmin 0 4.652391215417537vmin currentColor;
}
.background span:nth-child(11) {
    color: #00fff7;
    top: 63%;
    left: 38%;
    animation-duration: 167s;
    animation-delay: -167s;
    transform-origin: 15vw -5vh;
    box-shadow: 30vmin 0 4.4079413422938645vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff1d5c;
    top: 13%;
    left: 1%;
    animation-duration: 21s;
    animation-delay: -51s;
    transform-origin: 25vw -8vh;
    box-shadow: -30vmin 0 4.301278013133832vmin currentColor;
}
.background span:nth-child(13) {
    color: #00fff7;
    top: 69%;
    left: 66%;
    animation-duration: 96s;
    animation-delay: -48s;
    transform-origin: 9vw -21vh;
    box-shadow: 30vmin 0 3.7778416595683226vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff1d5c;
    top: 27%;
    left: 91%;
    animation-duration: 141s;
    animation-delay: -167s;
    transform-origin: -6vw 23vh;
    box-shadow: -30vmin 0 4.374727869218169vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff1d5c;
    top: 42%;
    left: 89%;
    animation-duration: 63s;
    animation-delay: -152s;
    transform-origin: 17vw 6vh;
    box-shadow: 30vmin 0 4.308949085532242vmin currentColor;
}
.background span:nth-child(16) {
    color: #ff1d5c;
    top: 48%;
    left: 21%;
    animation-duration: 12s;
    animation-delay: -145s;
    transform-origin: 7vw 20vh;
    box-shadow: 30vmin 0 3.9503025178280637vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff1d5c;
    top: 55%;
    left: 56%;
    animation-duration: 176s;
    animation-delay: -137s;
    transform-origin: 23vw 24vh;
    box-shadow: -30vmin 0 4.463255254923vmin currentColor;
}
.background span:nth-child(18) {
    color: #00fff7;
    top: 63%;
    left: 2%;
    animation-duration: 64s;
    animation-delay: -68s;
    transform-origin: 20vw -20vh;
    box-shadow: 30vmin 0 4.023125258158229vmin currentColor;
}
.background span:nth-child(19) {
    color: #00fff7;
    top: 18%;
    left: 11%;
    animation-duration: 165s;
    animation-delay: -29s;
    transform-origin: 15vw 10vh;
    box-shadow: 30vmin 0 4.520271972731777vmin currentColor;
}
.background span:nth-child(20) {
    color: #00fff7;
    top: 81%;
    left: 28%;
    animation-duration: 43s;
    animation-delay: -93s;
    transform-origin: 9vw 13vh;
    box-shadow: 30vmin 0 3.9558638037723632vmin currentColor;
}
.background span:nth-child(21) {
    color: #00fff7;
    top: 36%;
    left: 7%;
    animation-duration: 72s;
    animation-delay: -170s;
    transform-origin: 10vw -16vh;
    box-shadow: -30vmin 0 4.392471926158644vmin currentColor;
}
.background span:nth-child(22) {
    color: #00fff7;
    top: 18%;
    left: 50%;
    animation-duration: 177s;
    animation-delay: -121s;
    transform-origin: -10vw -8vh;
    box-shadow: -30vmin 0 4.144819437200295vmin currentColor;
}
.background span:nth-child(23) {
    color: #ff1d5c;
    top: 63%;
    left: 26%;
    animation-duration: 133s;
    animation-delay: -45s;
    transform-origin: 5vw 25vh;
    box-shadow: 30vmin 0 4.723499366990884vmin currentColor;
}
.background span:nth-child(24) {
    color: #ff1d5c;
    top: 30%;
    left: 75%;
    animation-duration: 73s;
    animation-delay: -26s;
    transform-origin: -19vw -14vh;
    box-shadow: 30vmin 0 4.135533247256127vmin currentColor;
}
.background span:nth-child(25) {
    color: #00fff7;
    top: 86%;
    left: 76%;
    animation-duration: 195s;
    animation-delay: -157s;
    transform-origin: 11vw 18vh;
    box-shadow: 30vmin 0 4.13188851028vmin currentColor;
}
.background span:nth-child(26) {
    color: #ff1d5c;
    top: 85%;
    left: 13%;
    animation-duration: 163s;
    animation-delay: -81s;
    transform-origin: 12vw -8vh;
    box-shadow: 30vmin 0 4.710154187102545vmin currentColor;
}
.background span:nth-child(27) {
    color: #00fff7;
    top: 47%;
    left: 55%;
    animation-duration: 82s;
    animation-delay: -35s;
    transform-origin: 13vw 15vh;
    box-shadow: -30vmin 0 4.548274131536223vmin currentColor;
}
.background span:nth-child(28) {
    color: #00fff7;
    top: 61%;
    left: 98%;
    animation-duration: 150s;
    animation-delay: -6s;
    transform-origin: -4vw -2vh;
    box-shadow: -30vmin 0 3.93003013223883vmin currentColor;
}
.background span:nth-child(29) {
    color: #00fff7;
    top: 70%;
    left: 16%;
    animation-duration: 141s;
    animation-delay: -80s;
    transform-origin: -7vw -13vh;
    box-shadow: -30vmin 0 4.376195761464172vmin currentColor;
}
.background span:nth-child(30) {
    color: #ff1d5c;
    top: 96%;
    left: 74%;
    animation-duration: 72s;
    animation-delay: -54s;
    transform-origin: 8vw 9vh;
    box-shadow: 30vmin 0 4.684045183806979vmin currentColor;
}
.background span:nth-child(31) {
    color: #ff1d5c;
    top: 18%;
    left: 28%;
    animation-duration: 114s;
    animation-delay: -186s;
    transform-origin: 1vw 5vh;
    box-shadow: -30vmin 0 4.351803488106322vmin currentColor;
}
.background span:nth-child(32) {
    color: #ff1d5c;
    top: 60%;
    left: 93%;
    animation-duration: 104s;
    animation-delay: -167s;
    transform-origin: 10vw -4vh;
    box-shadow: 30vmin 0 4.186593260542954vmin currentColor;
}
.background span:nth-child(33) {
    color: #ff1d5c;
    top: 11%;
    left: 41%;
    animation-duration: 131s;
    animation-delay: -79s;
    transform-origin: -13vw -24vh;
    box-shadow: -30vmin 0 4.177062908577549vmin currentColor;
}
.background span:nth-child(34) {
    color: #00fff7;
    top: 100%;
    left: 3%;
    animation-duration: 161s;
    animation-delay: -143s;
    transform-origin: 12vw -5vh;
    box-shadow: -30vmin 0 4.714885018393028vmin currentColor;
}
.background span:nth-child(35) {
    color: #00fff7;
    top: 33%;
    left: 86%;
    animation-duration: 126s;
    animation-delay: -4s;
    transform-origin: -1vw 9vh;
    box-shadow: -30vmin 0 3.750247462203511vmin currentColor;
}
.background span:nth-child(36) {
    color: #00fff7;
    top: 87%;
    left: 87%;
    animation-duration: 37s;
    animation-delay: -73s;
    transform-origin: 7vw 13vh;
    box-shadow: 30vmin 0 4.341290418870908vmin currentColor;
}
.background span:nth-child(37) {
    color: #00fff7;
    top: 68%;
    left: 42%;
    animation-duration: 48s;
    animation-delay: -150s;
    transform-origin: -19vw -3vh;
    box-shadow: -30vmin 0 3.768335156634965vmin currentColor;
}
.background span:nth-child(38) {
    color: #00fff7;
    top: 63%;
    left: 42%;
    animation-duration: 86s;
    animation-delay: -1s;
    transform-origin: -19vw 2vh;
    box-shadow: 30vmin 0 4.068260522068582vmin currentColor;
}
.background span:nth-child(39) {
    color: #00fff7;
    top: 10%;
    left: 66%;
    animation-duration: 74s;
    animation-delay: -69s;
    transform-origin: -14vw -15vh;
    box-shadow: -30vmin 0 4.45006939369355vmin currentColor;
}
.background span:nth-child(40) {
    color: #ff1d5c;
    top: 22%;
    left: 44%;
    animation-duration: 27s;
    animation-delay: -64s;
    transform-origin: 10vw -4vh;
    box-shadow: -30vmin 0 3.7878823123488603vmin currentColor;
}
.background span:nth-child(41) {
    color: #00fff7;
    top: 80%;
    left: 78%;
    animation-duration: 90s;
    animation-delay: -54s;
    transform-origin: -10vw 19vh;
    box-shadow: -30vmin 0 4.242410888391083vmin currentColor;
}
.background span:nth-child(42) {
    color: #00fff7;
    top: 70%;
    left: 24%;
    animation-duration: 110s;
    animation-delay: -142s;
    transform-origin: -7vw -9vh;
    box-shadow: 30vmin 0 4.510989042396894vmin currentColor;
}
.background span:nth-child(43) {
    color: #00fff7;
    top: 39%;
    left: 18%;
    animation-duration: 44s;
    animation-delay: -114s;
    transform-origin: -14vw -4vh;
    box-shadow: -30vmin 0 3.830558810963601vmin currentColor;
}
.background span:nth-child(44) {
    color: #ff1d5c;
    top: 82%;
    left: 8%;
    animation-duration: 123s;
    animation-delay: -14s;
    transform-origin: -7vw 5vh;
    box-shadow: 30vmin 0 4.284206064956367vmin currentColor;
}
.background span:nth-child(45) {
    color: #00fff7;
    top: 31%;
    left: 2%;
    animation-duration: 180s;
    animation-delay: -188s;
    transform-origin: 24vw -15vh;
    box-shadow: -30vmin 0 4.256539019067657vmin currentColor;
}
.background span:nth-child(46) {
    color: #00fff7;
    top: 97%;
    left: 96%;
    animation-duration: 85s;
    animation-delay: -114s;
    transform-origin: 15vw -5vh;
    box-shadow: -30vmin 0 3.836298551948267vmin currentColor;
}
.background span:nth-child(47) {
    color: #00fff7;
    top: 42%;
    left: 61%;
    animation-duration: 13s;
    animation-delay: -119s;
    transform-origin: -7vw 4vh;
    box-shadow: -30vmin 0 3.753052685253686vmin currentColor;
}
.background span:nth-child(48) {
    color: #00fff7;
    top: 72%;
    left: 58%;
    animation-duration: 147s;
    animation-delay: -10s;
    transform-origin: 5vw 16vh;
    box-shadow: 30vmin 0 4.188723471248686vmin currentColor;
}
.background span:nth-child(49) {
    color: #ff1d5c;
    top: 52%;
    left: 14%;
    animation-duration: 127s;
    animation-delay: -71s;
    transform-origin: -4vw -8vh;
    box-shadow: -30vmin 0 3.918932566553738vmin currentColor;
}
